<a href="https://colab.research.google.com/github/TheNobu/Anlise-de-Dados-e-Tomada-de-Decis-es/blob/main/TDE3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
df = pd.read_csv('natacao.csv');

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   object
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

1- As variaveis de estatisticas são = 

 Sede: Categórico , Ano: Continuas, Distancia: Continuas , Estilo: Categorico, Revesamento: Continuas, Genero: Categorico, Equipe: Categorica , Atleta: Categorica, Tempo: Continuas, Posicao: Ordinais.

In [10]:
df.mean()

<ipython-input-10-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Ano             1982.936453
Revesamento?       0.169764
Posicao            3.164946
dtype: float64

In [31]:
df.value_counts('Posicao')

Posicao
4    2582
3     566
2     548
1     534
0     101
5      28
dtype: int64

2 - Posição seria usada a Moda, e no Ano seria a mediana

In [58]:
atletaMaculino = df[df['Genero'] == 'Masculino']

atletaMaculino.value_counts('Atleta')

Atleta
Michael Phelps                                                                         18
Laszlo Cseh                                                                            10
Ryan Lochte                                                                             9
Pieter Van Den Hoogenband                                                               8
Grant Hackett                                                                           8
                                                                                       ..
Igor Grivennikov, Viktor Mazanov, Vladimir Bure, Aleksandr Samsonov, Viktor Aboimov     1
Igor Chervynskiy                                                                        1
Igor Cherdakov                                                                          1
Ian Wilson                                                                              1
Émile Thienpondt                                                                        1
Length: 1504, dtype: int64

3- O atleta que teve maior participação foi Michel Phelps

In [59]:
atletaFeminino = df.loc[df['Genero'] == 'Feminino']

atletaFeminino.value_counts('Atleta')

Atleta
Kirsty Leigh Coventry                                                               10
Katie Ledecky                                                                        9
Susan O'Neill                                                                        8
Conny Van Bentum                                                                     8
Shirley Farber Babashoff                                                             7
                                                                                    ..
Jenny Wylie                                                                          1
Jess Lloyd, Rebecca Turner, Amy Smith, Caitlin Mcclatchey, Francesca Halsall         1
Jessica Ashwood, Bronte Barratt, Emma Mckeon, Tamsin Cook, Leah Neale                1
Jessica Deglau                                                                       1
Zsuzsanna Jakabos, Evelin Verraszto, Ajna Kesely, Boglarka Kapas, Katinka Hosszu     1
Length: 1317, dtype: int64

4- A atleta que teve a maior participação foi Kirsty Leigh Coventry

In [60]:
df.head()

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4

In [73]:
posicao3 = df[df['Posicao'] == 3]

posicao3.value_counts('Equipe')

Equipe
USA              138
AUS               70
GER               40
JPN               31
GBR               30
CAN               28
GDR               21
URS               19
HUN               19
SWE               17
NED               16
FRA               16
ITA               14
CHN               12
RUS               10
BRA                9
NLD                7
FRG                7
RSA                6
SUN                6
DEN                6
ESP                4
ROU                4
NZL                3
FIN                3
PHI                2
SUI                2
ZAF                2
POL                2
ANZ                2
UKR                2
CRC                2
Unified Team       1
TTO                1
VEN                1
TUN                1
SUR                1
MEX                1
ROC                1
NOR                1
ARG                1
IRL                1
CUB                1
BUL                1
BLR                1
BEL                1
AUT                1
ZIM                1
dtype: int64

5 - A equipe que teve masi medalha de bronze foi USA

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   object
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

6-

In [94]:
df['Distancia']= df['Distancia'].str.replace('m','')
df['Distancia']= df['Distancia'].str.replace('4x100','400')
df['Distancia']= df['Distancia'].str.replace('4x200','800')

In [96]:
df['Distancia'] = df['Distancia'].astype('int64')

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   int64
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(4), object(6)
memory usage: 340.7+ KB

In [101]:
df['Distancia'].mean()

328.722183987153

In [ ]:
df['ClassificacaoDistancia'] = df['Distancia'] <= 200 = 'Curta'